@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                👤 Witaj, @User.Identity?.Name!
            </a>
            <ul class="dropdown-menu dropdown-menu-end bg-dark">
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                        <button type="submit" class="dropdown-item text-light">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light btn btn-outline-primary px-3 ms-2" asp-area="Identity" asp-page="/Account/Login">🔑 Zaloguj się</a>
        </li>
    }
</ul>
